{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5" >

    <h1 class="text-warning mb-5 border-bottom">PROJECT</h1>
    <div class="row text-center text-white mb-5" >






<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<body>

<div class="w3-container">



    <a href="https://github.com/pooja721/Airline_System" ><h3 style="text-align:left">1. AIRLINE RESERVATION SYSTEM</h3></a>
    <i class="fas fa-plane-departure fa-2x i-color"></i>
    <p style="text-align:left"> This Project is based on Core Java.This is a Desktop Application.I have done this project during my Java Training.In this project we have two Module i.e., Customer module and Manager Module.We can register,login,add passenger details,update passengers details(CRUD).Table,graph(details of Ticket desc and incr),Print or set or reset password and more operation also performed. Total No. of window is 8 in this project.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>JDK</li>
  <li>NETBEANS IDE</li>
        <li>SWING,HTML</li>
        <li>XAMPP(MYSQL,APACHE)</li>
</ul>


    <a href="https://github.com/pooja721/Ecommerce_java" ><h3 style="text-align:left">2. E-COMMERCE WEBSITE(JAVA EE)</h3></a>
    <i class="fas fa-shopping-cart fa-2x i-color"></i>
    <p style="text-align:left"> This Project is based on JAVA EE.This is a Web Application.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>JDK</li>
  <li>NETBEANS IDE</li>
        <li>JSP,Servelet,HTML,CSS,JS...</li>
        <li>XAMPP</li>
</ul>

    <a href="https://github.com/pooja721/" ><h3 style="text-align:left">3. INVENTORY MANAGEMENT SYSTEM</h3></a>
    <i class="fas fa-dolly-flatbed fa-2x i-color"></i>

     <p style="text-align:left"> This Project is based on Python.This is a GUI.Python libraries:Tkinter.Where we can use? - In local shop and more places.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Python</li>
  <li>Notepad</li>
        <li>Tkinter,File Handling</li>
        <li>Sqlite3</li>
</ul>


<a href="https://github.com/pooja721/" ><h3 style="text-align:left">4. ADVANCED NOTEPAD</h3></a>
    <i class="fas fa-book-reader fa-2x i-color"></i>
     <p style="text-align:left"> This Project is based on Python.This is a Desktop Application.Function: perform all function like normal Notepad,Can change page color,font color.We can directly search,login in gmail,google,yahoo etc</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Python</li>
  <li>Notepad++</li>
        <li>Tkinter,diff. libraries.</li>
        <li>Internet</li>
    </ul>

    <a href="https://github.com/pooja721/" ><h3 style="text-align:left">5. VOICE RECOGNITION(ALEXA)</h3></a>
    <i class="fas fa-voicemail fa-2x i-color"></i>
     <p style="text-align:left"> This Project is based Java.This project like cortana(in Desktop).</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Python</li>
  <li>Notepad</li>
        <li>Python Libraries</li>
        <li>Internet</li>
</ul>


<a href="https://github.com/pooja721/" ><h3 style="text-align:left">6. ADVANCED STUDENT MANAGEMENT SYSTEM</h3></a>
    <i class="fas fa-user-graduate fa-2x i-color"></i>

     <p style="text-align:left"> This Project is based Python.This is a Advanced Project.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Python</li>
  <li>Notepad++</li>
        <li>Python Libraries(Tkinter,PIL:Pillow)</li>
        <li>PyMySQL:Pure Python MySQL Driver.</li>
        <li>Python Module:os,ttk,tk..</li>
        <li>XAMPP</li>
        </ul>
    <p>PyMySQL:is an iterface for connectiong to a MYSQL database server from Python.It implements the Python Database API v2.0 and contains a pure Python MYSQL client library.The goal of PyMySQL is to be a drop-in replacement for MySQLdb.</p>


<a href="https://github.com/pooja721/" ><h3 style="text-align:left">7. AFFILIATE WEBSITE</h3></a>
    <i class="fab fa-amazon fa-2x i-color"></i>
    <p style="text-align:left"> This Project is based on Django-Python.This is a Web Application.This website is Amazon Affiliate Website.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Django Python</li>
  <li>Pycharm IDE</li>
        <li>HTML,CSS,JS,Bootstrap</li>
        <li>Internet</li>
    </ul>

    <a href="https://github.com/pooja721/" ><h3 style="text-align:left">8. BLOG WEBSITE</h3></a>
    <i class="fas fa-blog fa-2x i-color"></i>
    <p style="text-align:left"> This Project is based Django.This is a Blog Website.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Python,Django</li>
  <li>Pycharm IDE</li>
        <li>Models</li>
        <li>Templates</li>
</ul>

    <a href="https://github.com/pooja721/" ><h3 style="text-align:left">9. NEWS_API</h3></a>
    <i class="fas fa-newspaper fa-2x i-color"></i>
    <p style="text-align:left"> This Project is based on Django Framework.This is a News Website where we can see latest news and search anything.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Python,Django Framework</li>
  <li>Notepad</li>
        <li>Templates</li>
        <li>Internet</li>
    </ul>

    <a href="https://github.com/pooja721/" ><h3 style="text-align:left">10. PORTFOLIO</h3></a>
    <i class="fas fa-address-card fa-2x i-color"></i>
    <p style="text-align:left"> This is my Portfolio.This is a Website.About Me</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Django</li>
  <li>Pycharm</li>
        <li>Html,Css,js,Bootstrap</li>
        <li>Font Awesome</li>
        <li>Internet</li>
</ul>


<a href="https://github.com/pooja721/" ><h3 style="text-align:left">11. E-COMMERCE_WEBSITE(DJANGO)</h3></a>
    <i class="fab fa-shopify fa-2x i-color"></i>
    <p style="text-align:left"> This Project is based Django.This is a Website. Customer can buy product online. This website is live on PythonAnywhere.</p>
    <ul style="list-style-type:disc;text-align:left;">
  <li>OS:WINDOW10</li>
  <li>Django,python</li>
  <li>Pycharm IDE</li>
        <li>HTML,CSS,JS,Bootstrap</li>
        <li>Internet</li>
</ul>

</div>



</body>



        </div>
    </div>


{% endblock content %}
